body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

div.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

img {
    width: 20px;
    height: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form, div.errors {
    width: 600px;
    box-sizing: border-box;
}

input[type=text], button {
    display: block;
    width: 100%;
    margin: 10px 0;
}

input[type=text] {
    padding: 10px;
    font-size: 18px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 200px;
    background-color: lightskyblue;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    color: white;
}

button.disabled {
    background-color: gray;
}

button:hover {
    cursor: pointer;
    background-color: lightblue;
}

button.disabled:hover {
    background-color: gray;
    cursor: not-allowed;
}

h1 {
    color: lightskyblue;
}

.errors {
    background-color: lightpink;
    border: 2px solid lightcoral;
    border-radius: 5px;
    color: lightcoral;
    padding: 10px;
}
